/* @tailwind base; */

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-4 {
  margin-top: 1rem
}

.block {
  display: block
}

.w-1\/5 {
  width: 20%
}

.rounded-2xl {
  border-radius: 1rem
}

.bg-rose-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(225 29 72 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.text-center {
  text-align: center
}

.capitalize {
  text-transform: capitalize
}

.no-underline {
  text-decoration-line: none
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.delay-100 {
  transition-delay: 100ms
}

.duration-300 {
  transition-duration: 300ms
}

.ease-linear {
  transition-timing-function: linear
}

.hover\:bg-purple-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity))
}

.hover\:text-lg:hover {
  font-size: 1.125rem;
  line-height: 1.75rem
}