/* @tailwind base; */

.m-auto {
  margin: auto
}

.mt-4 {
  margin-top: 1rem
}

.block {
  display: block
}

.w-1\/5 {
  width: 20%
}

.rounded-full {
  border-radius: 9999px
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-rose-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 63 94 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.capitalize {
  text-transform: capitalize
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.no-underline {
  text-decoration-line: none
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.delay-100 {
  transition-delay: 100ms
}

.duration-300 {
  transition-duration: 300ms
}

.ease-linear {
  transition-timing-function: linear
}

.active\:bg-blue-900:active {
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138 / var(--tw-bg-opacity))
}